In [1]:
import pandas as pd
from timeit import default_timer as timer
start = timer()
trn = pd.read_csv("../Data/train_ver2.csv")
test = pd.read_csv("../Data/test_ver2.csv")

print('end : ', timer() - start)

/home/mimi/.pyenv/versions/3.6.4/envs/machine/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/mimi/.pyenv/versions/3.6.4/envs/machine/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

end :  45.50729354299983

In [2]:
print(trn.shape)
trn.head()

(13647309, 48)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
num_cols = [col for col in trn.columns[:24] if trn[col].dtype in ['int64', 'float64']]
print(num_cols)
trn[num_cols].describe()

['ncodpers', 'ind_nuevo', 'indrel', 'tipodom', 'cod_prov', 'ind_actividad_cliente', 'renta']

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07

In [4]:
cat_cols = [col for col in trn.columns[:24] if trn[col].dtype in ['O']]
# print(cat_cols)
trn[cat_cols].describe()

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,antiguedad,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,nomprov,segmento
count,13647309,13619575,13619575,13619505,13647309,13619575,13647309,24793,13497528.0,13497528,13619575,13619575,1808,13461183,13619575,13553718,13457941
unique,17,5,118,2,235,6756,507,223,13.0,5,2,2,2,162,2,52,3
top,2016-05-28,N,ES,V,23,2014-07-28,0,2015-12-24,1.0,I,S,N,N,KHE,N,MADRID,02 - PARTICULARES
freq,931453,13610977,13553710,7424252,542682,57389,134335,763,7277607.0,7304875,13553711,12974839,1791,4055270,13584813,4409600,7960220

In [5]:
# import numpy as np
# for col in cat_cols:
#     uniq = np.unique(trn[col].astype(str))
#     print('-'*50)
#     print('# col {}, n_uniq {}, uniq {}'.format(col, len(uniq), uniq))
#     # print(uniq)
#     # print(uniq)

--------------------------------------------------
# col fecha_dato, n_uniq 17, uniq ['2015-01-28' '2015-02-28' '2015-03-28' '2015-04-28' '2015-05-28'
 '2015-06-28' '2015-07-28' '2015-08-28' '2015-09-28' '2015-10-28'
 '2015-11-28' '2015-12-28' '2016-01-28' '2016-02-28' '2016-03-28'
 '2016-04-28' '2016-05-28']
--------------------------------------------------
# col ind_empleado, n_uniq 6, uniq ['A' 'B' 'F' 'N' 'S' 'nan']
--------------------------------------------------
# col pais_residencia, n_uniq 119, uniq ['AD' 'AE' 'AL' 'AO' 'AR' 'AT' 'AU' 'BA' 'BE' 'BG' 'BM' 'BO' 'BR' 'BY'
 'BZ' 'CA' 'CD' 'CF' 'CG' 'CH' 'CI' 'CL' 'CM' 'CN' 'CO' 'CR' 'CU' 'CZ'
 'DE' 'DJ' 'DK' 'DO' 'DZ' 'EC' 'EE' 'EG' 'ES' 'ET' 'FI' 'FR' 'GA' 'GB'
 'GE' 'GH' 'GI' 'GM' 'GN' 'GQ' 'GR' 'GT' 'GW' 'HK' 'HN' 'HR' 'HU' 'IE'
 'IL' 'IN' 'IS' 'IT' 'JM' 'JP' 'KE' 'KH' 'KR' 'KW' 'KZ' 'LB' 'LT' 'LU'
 'LV' 'LY' 'MA' 'MD' 'MK' 'ML' 'MM' 'MR' 'MT' 'MX' 'MZ' 'NG' 'NI' 'NL'
 'NO' 'NZ' 'OM' 'PA' 'PE' 'PH' 'PK' 'PL' 'PR' 'PT' 'PY' 'QA' 'RO' 'RS'
 'RU' 'SA' 'SE' 'SG' 'SK' 'SL' 'SN' 'SV' 'TG' 'TH' 'TN' 'TR' 'TW' 'UA'
 'US' 'UY' 'VE' 'VN' 'ZA' 'ZW' 'nan']
--------------------------------------------------
# col sexo, n_uniq 3, uniq ['H' 'V' 'nan']

KeyboardInterrupt:

In [ ]:
# import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

# skip_cols = [
#     'ncodpers',
#     'renta'
# ]

# for col in trn.columns[:1]:
#     if col in skip_cols:
#         continue

#     print('-'*50)
#     print('col : ', col)

#     f, ax = plt.subplots(figsize=(20, 15))
#     sns.countplot(x=col, data=trn, aplpha=0.5)
#     plt.show()

In [ ]:
# import numpy as np

# months = trn['fecha_dato'].unique().tolist()
# # print(months)
# label_cols = trn.columns[24:].tolist()

# label_over_time = []
# #   그룹별로 정렬 후 알려줌
# for i in range(len(label_cols)):
#     label_sum = trn.groupby(['fecha_dato'])[label_cols[i]].agg('sum')
#     label_over_time.append(label_sum.tolist())

# label_sum_over_time = []
# for i in range(len(label_cols)):
#     label_sum_over_time.append(np.asarray(label_over_time[i:]).sum(axis=0))


# color_list = ['#F5B7B1', '#D2B4DE', '#AED6F1', '#A2D9CE', '#ABEBC6', '#F9E79F', '#F5CBA7', '#CCD1D1']

# f, ax = plt.subplots(figsize= (30, 15))
# for i in range(len(label_cols)):
#     sns.barplot(x=months, y=label_sum_over_time[i], color= color_list[i%8], alpha=0.7)

# plt.legend([plt.Rectangle((0,0),1,1,fc=color_list[i%8], edgecolor = 'none') for i in range(len(label_cols))], label_cols, loc=1, ncol=2, prop={'size':16})


    

# # label_sum.size()
# # label_sum.mean()
#     # label_sum = trn.groupby(['fecha_dato'])

In [ ]:
# label_sum_percent = (label_sum_over_time / (1.*np.asarray(label_sum_over_time).max(axis=0))) * 100

# f, ax = plt.subplots(figsize=(30, 15))
# for i in range(len(label_cols)):
#     sns.barplot(x=months, y=label_sum_percent[i], color = color_list[i%8], alpha=0.7)

# plt.legend([plt.Rectangle((0,0),1,1,fc=color_list[i%8], edgecolor = 'none') for i in range(len(label_cols))], label_cols, loc=1, ncol=2, prop={'size':16})

In [ ]:
# import pandas as pd
# import numpy as np


# # trn = pd.read_csv('./Data/train_ver2.csv')

# prods = trn.columns[24:].tolist()
# print(prods)

# def data_to_int():
#     Y, M, D = [int(a) for a in str_date.strip().split("-")]
#     int_date = (int(Y) - 2015) * 12 + int(M)
    
#     return int_date

# trn['int_date'] = trn['fecha_dato'].map(data_to_int()).astype(np.int8)

In [6]:
import pandas as pd
import numpy as np
import xgboost as xgb

np.random.seed(200)

# trn = pd.read_csv('./Data/train_ver2.csv')
# test = pd.read_csv('./Data/test_ver2.csv')

prods = trn.columns[24:].tolist()

trn[prods] = trn[prods].fillna(0.0).astype(np.int8)

no_product = trn[prods].sum(axis=1) == 0
# print(trn.shape)
# print(no_product)
trn = trn[~no_product]

for col in trn.columns[24:]:
    test[col] = 0

df = pd.concat([trn, test], axis=0)

features = []

categorical_cols = ['ind_empleado', 'pais_residencia', 'sexo',
                    'tiprel_1mes', 'indresi', 'indext','conyuemp', 'canal_entrada',
                    'indfall', 'tipodom', 'nomprov', 'segmento']

for col in categorical_cols:
    df[col], _ = df[col].factorize(na_sentinel=-90)

features += categorical_cols

df['age'].replace(' NA', -99, inplace=True)
df['age'] = df['age'].astype(np.int8)

df['antiguedad'].replace('     NA', -99, inplace=True)
df['antiguedad'] = df['antiguedad'].astype(np.int8)

df['renta'].replace('         NA', -99, inplace=True)
df['renta'] = df['renta'].astype(float)
df['renta'] = df['renta'].fillna(-99)
df['renta'] = df['renta'].astype(np.int8)


df['indrel_1mes'].replace('P', 5, inplace=True)
df['indrel_1mes'].fillna(-99, inplace=True)
df['indrel_1mes'] = df['indrel_1mes'].astype(float)
df['indrel_1mes'] = df['indrel_1mes'].astype(np.int8)

features += ['age', 'antiguedad', 'renta', 'ind_nuevo', 'indrel', 'indrel_lmes', 'ind_actividad_cliente']


print('end')

end

In [7]:
df['fecha_alta_month'] = df['fecha_alta'].map(
    lambda x: 0.0 if x.__class__ is float else float(x.split('-')[1])).astype(np.int8)

df['fecha_alta_year'] = df['fecha_alta'].map(
    lambda x: 0.0 if x.__class__ is float else float(x.split('-')[0])).astype(np.int16)
    
features += ['fecha_alta_month', 'fecha_alta_year']
# features += ['fecha_alta_month', 'fecha_alta_year']

df['ult_fec_cli_1t_month'] = df['ult_fec_cli_1t'].map(
    lambda x: 0.0 if x.__class__ is float else float(x.split('-')[1])).astype(np.int8)

df['ult_fec_cli_1t_year'] = df['ult_fec_cli_1t'].map(
    lambda x: 0.0 if x.__class__ is float else float(x.split('-')[0])).astype(np.int16)

features += ['fecha_alta_month', 'fecha_alta_year']

df.fillna(-99, inplace=True)


def date_to_int(str_date):
    Y, M, D = [int(a) for a in str_date.strip().split('-')]
    int_date = (int(Y) - 2015) * 12 + int(M)
    
    return int_date


df['int_date'] = df['fecha_dato'].map(date_to_int).astype(np.int8)

df_lag = df.copy()
df_lag.columns = [col+'_prev' if col not in ['ncodpers', 'int_date'] else col for col in df.columns]
df_lag['int_date'] += 1


df_trn = df.merge(df_lag, on=['ncodpers', 'int_date'], how='left')

del df, df_lag

for prod in prods:
    prev = prod+'_prev'
    df_trn[prev].fillna(0, inplace=True)
df_trn.fillna(-99, inplace=True)

features += [feature + '_prev' for feature in features]
features += [prod + '_prev' for prod in prods]

print("end")

end

In [8]:
# Model train
# tran : 2016-01-28 ~ 2016-04-28 validation : 2016-05-28

use_dates = ['2016-01-28','2016-02-28','2016-03-28', '2016-04-28', '2016-05-28']

# choice use_dates list in trn
trn = df_trn[df_trn['fecha_dato'].isin(use_dates)]
tst = df_trn[df_trn['fecha_dato'] == '2016-06-28']

X = []
Y = []

del df_trn

for i, prod in enumerate(prods):
    prev = prod+'_prev'
    prX = trn[(trn[prod] == 1) & (trn[prev] == 0)]
    prY = np.zeros(prX.shape[0], dtype=np.int8) + i

    X.append(prX)
    Y.append(prY)

XY = pd.concat(X)
print("XY : ", np.array(XY).shape, "X : ", np.array(X).shape)
print("Y : ", np.array(Y).shape)
Y = np.hstack(Y)
print("Y_h : ", np.array(Y).shape)

vld_date = '2016-05-28'
XY_trn = XY[XY['fecha_dato'] != vld_date]
XY_vld = XY[XY['fecha_dato'] == vld_date]

print("end")

XY :  (199034, 104) X :  (24,)
Y :  (24,)
Y_h :  (199034,)
end

/home/mimi/.pyenv/versions/3.6.4/envs/machine/lib/python3.6/site-packages/ipykernel_launcher.py:24: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
/home/mimi/.pyenv/versions/3.6.4/envs/machine/lib/python3.6/site-packages/ipykernel_launcher.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [19]:
param = {
    'booster': 'gbtree',
    'max_depth': 8,
    'nthread': 4,
    'num_class': 'multi:softprob',
    'silent':1,
    'eval_metric': 'mlogloss',
    'eta':0.1,
    'min_child_weight':10,
    'colsample_bytree':0.8,
    'colsample_bylevel':0.9,
    'seed':2018,
}

X_trn = XY_trn.as_matrix(columns=features)
Y_trn = XY_trn.as_matrix(columns=['y'])
dtrn = xgb.DMatrix(X_trn, label=Y_trn, feature_names=features)

X_vld = XY_vld.as_matrix(columns=features)
Y_vld = XY_vld.as_matrix(columns=['y'])
dvld = xgb.DMatrix(X_vld, label=Y_vld, feature_names=features)

watch_list = [(dtrn, 'train'), (dvld, 'eval')]
model = xgb.train(param, dtrn, num_boost_round=1000, evals=watch_list, early_stopping_rounds=20)

import pickle
pickle.dump(model, open("model/xgb.baseline.pkl", "wb"))
best_ntree_limit = model.best_ntree_limit

AttributeError: 'DataFrame' object has no attribute 'as_matrix'